@keyframes parallax {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px);
    }
  }
  
  .animate-parallax {
    animation: parallax 10s infinite alternate;
  }
  
  .hover:translate-y-2 {
    transition: transform 0.5s ease-in-out;
  }
  